@model List<Postagem>
@{
    ViewData["Title"] = "Honda";
}

<div class="text-center">
    <h1 class="display-4">Blog da Honda </h1>
    <p>Confira já as novas atualizções da Honda</aside></p>
</div>

@foreach (Postagem postagem in Model)
{
    <p>@postagem.Nome</p>
    <img src="@postagem.Foto" width="300" />
}